body{
background: url(slika.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.dugme{
	border:3px solid white;
	border-radius:20px;
	padding:10px 20px;
	background:transparent;
	font-size:30px;
}
.dugme:hover{
	border:3px solid deeppink;
}
a{
	text-decoration:none;
	color:deeppink;
}
a:hover{
	border:none;
	background:transparent;
	color:white;
	font-weight:bold;
	font-size:33px;
}
@keyframes anim{
	0%{left:35%; top:0%;}
	50%{left:85%; top:0%;}
	100%{left:35%; top:0%;}
}
.anim{
	height:100px;
	width:200px;
	position:absolute;
	margin-top:5px;
	animation: anim 10s infinite;
}
p{
	margin-top:200px;
	text-align:center;
	font-size:30px;
	color:white;
	background:transparent;
	border-radius:30px;
}
footer{
	margin-left:760px;
	color:hotpink;
	font-size:30px;
	position:relative;
	margin-top:200px;
}
.kontakt{
	border:2px solid hotpink;
	padding:10px 20px;
	color:hotpink;
	font-size:30px;
	margin-top:90px;
}
#vreme{
	border:2px solid hotpink;
	border-radius:30px;
	margin-top:90px;
}
