body{
background: url(slika.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.dugme{
	border:3px solid white;
	border-radius:20px;
	padding:10px 20px;
	background:transparent;
	font-size:30px;
}
.dugme:hover{
	border:3px solid deeppink;
}
a{
	text-decoration:none;
	color:deeppink;
}
a:hover{
	border:none;
	background:transparent;
	color:white;
	font-weight:bold;
	font-size:33px;
}
@keyframes anim{
	0%{left:35%; top:0%;}
	50%{left:85%; top:0%;}
	100%{left:35%; top:0%;}
}
.anim{
	height:100px;
	width:200px;
	position:absolute;
	margin-top:5px;
	animation: anim 10s infinite;
}
.forma{
	margin-top:50px;
	text-align:center;
	display:block;
}
form{
	display:inline-block;
	width:50%;
}
legend{
	font-style:italic;
	color:hotpink;
	font-size:20px;
}
fieldset{
	border:3px solid pink;
	background:url(2.jpg);
	background-size:cover;
}
select{
	width:150px;
}
p{
	font-style:italic;
	color:hotpink;
	font-size:20px;
}
.button{
	color:white;
	background:deeppink;
	border:2px solid white;
	border-radius:20px;
	padding:5px 15px;
	font-size:25px;
	font-style:italic;
}
.button:hover{
	color:deeppink;
	background:white;
	border:2px solid deeppink;
	font-style:italic;
}
.radio{
	display:inline-block;
}