body{
background: url(slika.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.dugme{
	border:3px solid white;
	border-radius:20px;
	padding:10px 20px;
	background:transparent;
	font-size:30px;
	color:deeppink;
}
.dugme:hover{
	border:3px solid deeppink;
	background:transparent;
	font-weight:bold;
	font-size:33px;
}
a{
	text-decoration:none;
	color:deeppink;
}
@keyframes anim{
	0%{left:35%; top:0%;}
	50%{left:85%; top:0%;}
	100%{left:35%; top:0%;}
}
.anim{
	height:100px;
	width:200px;
	position:absolute;
	margin-top:5px;
	animation: anim 10s infinite;
}
.salon{
	color:deeppink;
	text-align:center;
}
.studio{
	height:300px;
	width:380px;
	border:4px solid pink;
}
.usluge{
	height:300px;
	width:380px;
	border:4px solid pink;
}
.h1{
	text-align:center;
	color:deeppink;
}
.div{ 
	display:inline-block;
	padding:70px;
}